* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);

  --font-size-p: 18px;
  --epilogue-sans-serif: "Epilogue", sans-serif;
}



/* header styling start */

header {
  max-width: 1440px;
  width: 100%;
}

body {
  font-family: var(--epilogue-sans-serif);
}

.navbar {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 40px;
  /* Add space between logo and menu */
}

.menu-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-around;
}

.menu {
  list-style: none;
  display: flex;
  margin-right: 40px;
  /* Add space between menu and buttons */
}

.menu li {
  position: relative;
}

.menu a {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
  left: 1rem;
  text-decoration: none;
  color: var(--almost-black);
}

.dropdown-box {
  display: none;
  list-style: none;
  text-decoration: none;
  background-color: var(--almost-white);
  border-radius: 10px;
  box-shadow: -5px 29px 30px 1px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: -5px 29px 30px 1px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: -5px 29px 30px 1px rgba(0, 0, 0, 0.31);
  width: 153px;
  height: 160px;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
}

.dropdown-box li {
  padding: 10px 0;
}

.menu li:hover>.dropdown-box {
  display: block;
}

.menu li:hover .arrow-icon {
  transform: rotate(180deg);
}

.icon {
    margin-right: 10px;
    position: absolute;
    margin-top: 10px;
}

.arrow-icon {
  margin-left: 5px;
  transition: transform 0.3s;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.menu li {
  padding: 0 1rem;
}

.menu li a {
  color: var(--medium-gray);
  text-decoration: none;
  font-weight: 500;
}

.menu li a:hover {
  color: var(--almost-black);
}

.drop-2 {
  width: 116px;
  height: 128px;
}

.btn-login {
  color: var(--almost-black);
  text-decoration: none;
  font-weight: 500;
}

.btn-register {
  border: 2px solid var(--almost-black);
  padding: 1rem 2rem;
  border-radius: 10px;
  color: var(--almost-black);
  text-decoration: none;
  font-weight: 500;

}

.icon-menu__open {
  display: none;
}

.icon-menu__close {
  display: none;
} 

/* header styling end */

/* container & row styling start */
.container {
  max-width: 1440px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  padding-top: 8rem;
}

.row h1 {
  font-size: 80px;
  position: relative;
  top: 4rem;
  left: 6rem;
  width: 540px;
}

.row p {
  color: var(--medium-gray);
  font-size: var(--font-size-p);
  font-weight: 500;
  position: relative;
  top: 8rem;
  left: 6rem;
  width: 445px;
  line-height: 28px;
}

.btn-learn {
  background-color: var(--almost-black);
  color: var(--almost-white);
  cursor: pointer;
  position: relative;
  padding: 1rem 2rem;
  border-radius: 10px;
  top: 11rem;
  left: 6rem;
  outline: none;
  border: none;
  font-weight: 700;
  width: 163px;
}

.btn-learn:hover {
  background-color: var(--almost-white);
  border: 1px solid var(--almost-black);
  color: var(--almost-black);
}

.sponsors-box {
  position: relative;
  top: 17rem;
  left: 5rem;
  width: 477.63px;
}

.sponsors-box img {
  margin: 0px 13px;
}

.hero-image {
  width: 448px;
  height: 100%;
}

/* container & row styling end */

@media(max-width: 600px) {
  .logo{
    position: relative;
    left: 1.3rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .menu-list {
    display: none;
  }

  .mobile-menu {
    background-color: var(--almost-white);
    flex-direction: column;
      gap: 1.5rem;
      position: fixed;
      top: 0rem;
      left: 10rem;
      width: 16.1rem;
      height: 49rem;
      z-index: 5;
      overflow-x: hidden;
      transition: 2s ease;
      box-shadow: -157px -3px 0px 2px rgba(0, 0, 0, 0.51);
      -webkit-box-shadow: -157px -3px 0px 2px rgba(0, 0, 0, 0.51);
      -moz-box-shadow: -130px -3px 0px 2px rgba(0, 0, 0, 0.51);
  }

    .menu li {
      padding: 0 2rem;
    }

  .icon-menu__open {
    cursor: pointer;
    display: block;
    position: relative;
    right: 2rem;
  }

  .icon-menu__close{
    cursor: pointer;
    z-index: 5;
  }


  .row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding-top: 0;
  }

  .row h1 {
    font-size: 36px;
    left: 1rem;
    width: 344px;
    text-align: center;
  }

  .row p {
    left: 0rem;
    text-align: center;
    width: 383px;
  }

  .hero-image {
    width: 375px;
    height: 100%;
  }

  .sponsors-box {
    left: 1rem;
    width: 362px;
  }

  .sponsors-box img {
    width: 58.9px;
  }
}